<app-navbar />
<div class="main-container">

<div class="login-container">
    <div class="container">
        <div class="steps">
            <p>Step 1 of 2</p>
        </div>

        <form action="">
            <h2>Create Account</h2>
            <p>
                <label for="region">Region</label>
            </p>
            <select name="" id="region">
                <option value="">Select Region</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
            </select>

            <p>
                <label for="language">Language</label>
            </p>
            <select name="" id="language">
                <option value="">Select Language</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
            </select>



            <p>
                <label for="firstName">First Name</label>
            </p>
            <input type="text" id="firstName">


            <p>
                <label for="lastName">Last Name</label>
            </p>
            <input type="text" id="lastName">

            <p class="registeration-aggrement">
                By clicking 'Next', I understand and agree to Tesla's <a class="tds-link" data-id="privacy-link"
                    target="_blank" rel="noopener noreferrer"
                    href="https://www.tesla.com/about/legal?redirect=no#privacy-statement">Privacy Notice</a> and <a
                    class="tds-link" data-id="terms-link" target="_blank" rel="noopener noreferrer"
                    href="https://www.tesla.com/about/legal?redirect=no#terms-of-use">Terms of Use</a> for creating a
                Tesla Account and I authorize Tesla to contact me for account management purposes via the contact
                information I provide. I understand calls or texts may use automatic or computer-assisted dialing or
                pre-recorded messages. Normal message and data rates apply.
            </p>
        </form>


        <button class="login-btn" type="button">Next</button>

    </div>
</div>

<div class="footer-section">
    <app-footer />
</div>
</div>