.footer{
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.6rem;
    gap: 1rem;
    font-size: .7rem;
}

.footer-links{
    border-bottom: 1px solid var(--white-color);
    line-height: 1.1rem;
    color: var(--secondary-dark-color);
}

.footer-links:hover{
    border-bottom: 1px solid var(--secondary-dark-color);
    cursor: pointer;
}