.navbar {
    // position: absolute;
    width: 100%;
    z-index: 10;
    height: 4rem;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    background-color: white;
}

.logo {
    width: 30%;
}

.logo img {
    width: 8rem;
}