<div class="header">
    <h1>TESLA</h1>
    <div class="links">
      <a href="#">SHOP</a>
      <a href="#">CHARGING</a>
      <a href="#">VEHICLE ACCESSORIES</a>
      <a href="#">APPAREL</a>
      <a href="#">LIFESTYLE</a>
    </div>
    <div class="cart">
      <i class="fas fa-shopping-cart"></i>
    </div>
    <div class="menu">
      MENU
    </div>
  </div>
  
  <div class="container">
    <div class="product">
      <img src="../../../assets/images/images/Mega-Menu-Charging-Supercharging-NA.avif" alt="Cable Organizer">
      <h2 class="name">CABLE ORGANIZER</h2>
      <p class="price">$35</p>
      <div class="quantity">
        <button>-</button>
        <input type="number" value="1">
        <button>+</button>
      </div>
      <button class="add-to-cart">ADD TO CART</button>
      <div class="description">
        <p>STORE YOUR CORDED MOBILE CONNECTOR WITH THE NEWLY REDESIGNED CABLE ORGANIZER. THIS PRODUCT FEATURES A STURDY BRACKET TO KEEP YOUR CABLES NEATLY STOWED AND A CHASSIS HOLDER TO REDUCE ADDITIONAL WEAR AND TEAR ON YOUR ADAPTOR AND OUTLET.</p>
        <ul>
          <li>1X CABLE ORGANIZER BRACKET</li>
          <li>1X CHASSIS HOLDER</li>
          <li>1X INSTALLATION HARDWARE KIT</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="product-container">
    <div class="product">
      <img src="../../../assets/images/images/Mega-Menu-Charging-Supercharging-NA.avif" alt="Wall Connector Color Matched Faceplate">
      <h2 class="name">WALL CONNECTOR COLOR MATCHED FACEPLATE</h2>
      <p class="price">$100</p>
    </div>
    <div class="product">
      <img src="../../../assets/images/images/Mega-Menu-Charging-Supercharging-NA.avif" alt="Mobile Connector">
      <h2 class="name">MOBILE CONNECTOR</h2>
      <p class="price">$250</p>
    </div>
    <div class="product">
      <img src="../../../assets/images/images/Mega-Menu-Charging-Supercharging-NA.avif" alt="Gen 2 NEMA Adapters">
      <h2 class="name">GEN 2 NEMA ADAPTERS</h2>
      <p class="price">$45</p>
    </div>
    <div class="product">
      <img src="../../../assets/images/images/Mega-Menu-Charging-Supercharging-NA.avif" alt="SAE J1772 Charging Adapter">
      <h2 class="name">SAE J1772 CHARGING ADAPTER</h2>
      <p class="price">$50</p>
    </div>
  </div>
<!-- 
  https://www.tesla.com/sites/default/files/images/accessories/sae-j1772-charging-adapter/sae-j1772-charging-adapter.jpg
  https://digitalassets-shop.tesla.com/image/upload/f_auto,q_auto/v1/content/dam/tesla/CAR_ACCESSORIES/MODEL_S/CHARGING_ADAPTERS/1521226-00-A_2_2000.jpg -->